* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 200px;
    gap: 20px;
}

.box1 {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background-image: linear-gradient(hsl(252, 100%, 67%), blue);
    height: 300px;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.box2 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: hsla(256, 72%, 46%, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
}

.box3 {
    grid-column: span 3;
    grid-row: 5 / 5;
    color: hsl(0, 100%, 67%);
    background-color: hsla(10, 100%, 64%, 0.05);
    border-radius: 20px;
    margin: 0 8% 0;
}

.box4 {
    grid-column: span 3;
    grid-row: 6 / 6;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.05);
    border-radius: 30px;
    margin: 0 8% 0;
}

.box5 {
    grid-column: span 3;
    grid-row: 7 / 7;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.05);
    border-radius: 20px;
    margin: 0 8% 0;
}

.box6 {
    grid-column: span 3;
    grid-row: 8 / 8;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.05);
    border-radius: 20px;
    margin: 0 8% 0;
}

.button1 {
    grid-column: span 3;
    grid-row: 9 / 9;
}

h3 {
    position: relative;
    left: 10%;
    bottom: 6%;
}

p {
    position: relative;
    left: 85%;
    bottom: 35%;
    color: black;
}

img {
    position: relative;
    left: 3%;
    top: 30%;
}
.circle {
    position: relative;
    top: 25%;
    color: white;
}
.text1 {
    text-align: center;
}

.textbox {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    color: white;
}
.button {
    border-radius: 50px;
    width: 80%;
    height: 300%;
    position: relative;
    left: 10%;
    background-color: hsl(224, 30%, 27%);
    border: 0;
    color: white;
}
#text {
    position: relative;
    left: 2%;
    font-size: large;
}